body {
    //overflow: hidden;
    background-color: #222;
    //background-image transparent 0,
    //linear-gradient: (#222, #000);
    //gradient(#222, #000);
}

div>.row {
    padding: 1em;
}

nav>.navbar-brand {
    padding-left: 1em;
}

.about-header {
    margin-left: 1.5em;
}

img {
    width: 250px;
    height: auto;
    margin: .5em;
}

.body-text {
    font-size: large;
    color: black;
}

@media (min-width: 320px) {
    .nav-item {
        padding-left: 1.25em;
    }
}

.TopBar {
    height: .5px;
    padding: 12px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

footer {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    margin-top: 3em;
    padding: .75em;
}

.logo-image {
    width: 46px;
    height: 46px;
    margin-top: -6px;
}